<div class='index'>

  <h1>レシピ一覧</h1>
  
  <%= will_paginate %>

  <% @recipes.each do |recipe| %>
    <div class="d-flex align-items-start">
    <%= image_tag recipe.dish.to_s, class: 'dish_sized' %>
    <%= link_to recipe.title, "/recipes/#{recipe.id}" ,class: 'show_link' %>
      by <%= recipe.user.name %></div><br>
  <% end %>

  <%= will_paginate %>
</div>