<%= form_with(model: @recipe, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div>
    <%= f.label :title, "レシピ名" %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :dish, "完成写真" %><br>
    <%= f.file_field :dish, class: "image", id: :dish_img %><br>
    <% if @recipe.dish.present? %>
      <%= image_tag @recipe.dish, id: :dish_img %>
    <% else %>
      <%= image_tag "default.jpg", id: :img_prev %>
    <% end %>
    <script type="text/javascript">
    $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $("#dish_img").change(function(){
      readURL(this);
      });
    function resizeImage(){
      var img = document.images['dish_img', 'img_prev'];
      img.height = 100;
    };
    });
    </script>
  </div>
  <div>
    <%= f.label :title, "材料" %><br>
    <%= f.text_area :material %>
  </div>
  <div>
    <%= f.label :title, "作り方" %><br>
    <%= f.text_area :recipe %>
  </div>
  <%= f.submit %>
<% end %>