<div class='recipe_show'>
  <h3 id="recipe_title"><%= link_to @recipe.title %></h3> by <%= @recipe.user.name %><br>
  <div class='row'>
    <div class='dish_img row'>
      <div class='col-md-5'>
        <% if @recipe.dish? %>
          <%= image_tag @recipe.dish.to_s if @recipe.dish? %>
        <% else %>
          <%= image_tag 'default.jpg', width: '95%', height: '95%' %>
        <% end %>
      </div>
    <div class='col-md-5'>
      材料<br><%= safe_join(@recipe.material.split("\n"),tag(:br)) %>
    </div>
  </div>
  <div class='recipe_detail'>作り方<br><%= safe_join(@recipe.recipe.split("\n"),tag(:br)) %><br><br></div>
  <% if @recipe.user_id == current_user.id %>
    <div class='d-flex'>
      <%= link_to("/recipes/#{@recipe.id}/edit") do %>
        <button type="button" class="btn btn-outline-secondary btn-sm">編集</button>
      <% end %>
      <%= link_to("/recipes/#{@recipe.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) do %>
        <button type="button" class="btn btn-outline-secondary btn-sm">削除</button>
      <% end %>
    </div><br><br>
  <% end %>
  <hr>
  <div>
    <h5>コメント一覧</h5>
    <% @recipe.comments.each do |comment| %>
      <li>
        <%= comment.body %>-----------<%= l comment.created_at %>
        <% if user_signed_in? && comment.user_id == current_user.id %>
          <%= link_to 'コメントを削除', recipe_comment_path(@recipe, comment),method: :delete , confirm: 'コメントを削除しますか？' %>
        <% end %>
      </li> <br>
    <% end %>
  </div>
  <div>
    <%= form_with(model: [@recipe, @comment], local: true) do |f| %>
      <div>
        <%= f.label :body, "コメント" %><br>
        <%= f.text_area :body %>
      </div>
      <%= f.submit 'コメントする'%>
    <% end %>
  </div>
</div>